.header {
    display: flex; justify-content: space-between; align-content: center;
    margin: 30px 0; padding: 10px 0; border-bottom: 2px solid #999;
}

.order {
    display: flex; align-items: center; gap: 4px;
}

.order select {
    padding: 5px 10px;
}

.list {
    display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;
    margin: 30px 0;
}

@media only screen and (max-width: 990px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .list {
        grid-template-columns: 1fr;
    }
}
