:root {
  --heart-color: #cc1212;
}

* {
  max-width: 100%; box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ccc;
}

.container {
  margin: 0 auto; max-width: 900px; width: 90%;
}

img {
  max-width: 100%; height: auto;
}
